.WriteNote {
    margin: 1rem;
    width: calc(20vw + 150px);
    overflow-y: hidden;
}

.WriteNoteBox::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
}

.WriteNote > * {
    width: 100%;
    position: relative;
    border-radius: 0px !important;
    margin: 0 auto !important;
}

.btnAddNote:hover {
    background-color: white;
}

.btnAddNote:hover > * {
    color: black;
}
