.WriteNote {
    margin: 1rem;
    width: 25vw;
    overflow-y: hidden;
}

.WriteNote > * {
    width: 100%;
    position: relative;
    border-radius: 0px !important;
    margin: 0 auto !important;
}

.btnAddNote:hover {
    background-color: white;
}

.btnAddNote:hover > * {
    color: black;
}

textarea::placeholder {
    position: relative;
}
