.WriteNote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
}

.WriteNote > * {
    position: relative;
    top: 0.5em;
    height: 80px !important;
    border-radius: 0px !important;
    margin: 0 auto;
}
